/***********************************************************************************************
                                            GENERALL
************************************************************************************************/

/****************************************************************** 
                                Divs
*******************************************************************/

.div100 {
    width: 100%;
    float: left;
}

.div50 {
    width: 50%;
    float: left;
}

.div33 {
    width: 33.3%;
    float: left;
}

.div75 {
    width: 75%;
    float: left;
}

.div67 {
    width: 67%;
    float: left;
}

.div25 {
    width: 25%;
    float: left;
}

.CustomDiv25 {
    width: 25%;
    float: left;
}

@media (max-width: 768px) {
    .div75,
    .div67,
    .div50,
    .div33,
    .div25 {
        width: 100%;
    }
}

/****************************************************************** 
                                PADDING
*******************************************************************/

.padding {
    padding: 2%;
}

.paddingTop {
    padding-top: 2%;
}

.padding-right {
    padding-right: 2%;
}

.padding-left {
    padding-left: 2%;
}

.padding-bot {
    padding-bottom: 2%;
}

.paddingFix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/****************************************************************** 
                                MARGIN
*******************************************************************/

.margin {
    margin: 2%;
}

.marginTop {
    margin-top: 2%;
}

.marginLeft {
    margin-left: 2%;
}

.marginBot {
    margin-bottom: 2%;
}

.marginRight {
    margin-right: 2%;
}

/****************************************************************** 
                                BUTTON
*******************************************************************/

.Mainbtn {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    background-color: #4cb2b4;
    border: 1px solid #81c9ca;
    border-radius: 12px;
    outline: none;
    font-size: 1.4em;
    cursor: pointer;
}

    .Mainbtn:hover {
        color: #edf7f7;
        background: #81c9ca;
        border: 1px solid #81c9ca;
        border-radius: 12px;
    }

.Secondarybtn {
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    width: 130px;
    background: #074e67;
    font-weight: bold;
    font-size: 0.95em;
    border: 1px solid #81c9ca;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    float: right;
}

    .Secondarybtn:hover {
        color: #edf7f7;
        background: #81c9ca;
        border: 1px solid #81c9ca;
        border-radius: 12px;
    }

/****************************************************************** 
                                TEXTBOXES
*******************************************************************/

.tb {
    display: block;
    width: 100%;
    border-radius: 11px;
    border: 1px solid #989898;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    font-family: 'latolight', helvetica, arial, sans-serif;
}

    .tb:focus {
        border: 1px solid #edf7f7;
        border-radius: 12px;
        outline: 0;
    }


/****************************************************************** 
                                BORDERS
*******************************************************************/

.border-bottom {
    border-bottom: 1px solid #4cb2b4;
}

/****************************************************************** 
                                LABEL
*******************************************************************/

.lbl {
    margin: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

/***********************************************************************************************
                                            SPECIFIC
************************************************************************************************/
.history-box {
    display: none;
}

.roles-box {
    display: none;
}

.btndiv-floatright {
    float: right;
}

.DropDown-AdminPanel {
    width: 100%;
}

.HiddenBtn {
    display: none;
    font-weight:Bolder;
}

.listView {
    display: none;
}
