.article-heading {
    margin: 0.5em;
}

.article-text {
    margin: 1em;
    margin-top: 0em;
}

.commentBox {
    width: 50%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.comment {
    border-bottom: 1px solid #4cb2b4;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

.comment-h3 {
}

.txt-box-comment {
    height: 100px;
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.txt-box-report-comment {
    float: left;
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

    .txt-box-report-comment:focus {
        border-radius: 12px;
        border-style: solid;
        border-width: 1px;
        border-color: #4cb2b4;
        outline: 0;
    }


.overlay-message-report {
    width: 500px;
}

.comment-btn {
    width: 50%;
    float: right;
}

.report-btn {
    width: 50%;
}

.like-box {
    margin: 2em;
    margin-top: 0em;
    margin-left: 10em;
    overflow: hidden;
}

.vote-btn {
    display: inline-block;
    padding: 7px 8px 7px 7px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #074e67;
}

    .vote-btn:hover {
        background-color: #81c9ca;
    }

.vote-btn-pressed {
    background-color: #074e67;
    cursor: default;
    display: inline-block;
    padding: 7px 8px 7px 7px;
    border-radius: 10px;
}

.vote-glyph {
    color: #edf7f7;
}

.upvote-glyph {
    color: #4CB482;
}

.downvote-glyph {
    color: #B44E4C;
}

.vote-bar {
    height: 4px;
    display: inline-block;
    margin: 0em;
    padding: 0em;
}

.upvote-bar {
    background-color: #4CB482;
}

.downvote-bar {
    background-color: #B44E4C;
}

.like-box-station {
}

.info-lbls {
    margin: 1em;
    margin-left: 1.5em;
    /*font-weight: bold;*/
}

.info-titles {
    margin-left: 0.5em;
    font-weight: bold;
}

.info-box {
    margin-top: 2.5em;
}



.edit-text {
    font-size: 0.9em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.small-comment-text {
    font-size: 0.9em;
    margin-left: 0.5em;
}

.comment-text {
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.ref-text {
    font-size: 0.97em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.DropDown-Comments {
    width: 100px;
    padding: 1px 1px 1px 1px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .like-box {
        margin-left: 2em;
    }
}

@media (max-width: 768px) {
    .commentBox {
        width: 97%;
    }
}

@media (max-width: 768px) {
    .comment-btn {
        width: 97%;
        float: none;
    }
}

@media (max-width: 950px) {
    .overlay-message-report {
        width: 500px;
        margin: 0em auto;
        margin-top: 10%;
    }
}

@media (max-width: 550px) {
    .overlay-message-report,
    .report-btn {
        width: 94%;
    }
}
