
/****************************************************************** 
                                PADDING
*******************************************************************/

.padding {
    padding: 2%;
}

.paddingTop {
    padding-top: 2%;
}

.padding-right {
    padding-right: 2%;
}

.padding-left {
    padding-left: 2%;
}

.padding-bot {
    padding-bottom: 2%;
}

.paddingFix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/****************************************************************** 
                                MARGIN
*******************************************************************/

.margin {
    margin: 2%;
}

.marginTop {
    margin-top: 2%;
}

.marginLeft {
    margin-left: 2%;
}

.marginBot {
    margin-bottom: 2%;
}

.marginRight {
    margin-right: 2%;
}

.marginAuto {
    margin: 0 auto !important;

}
/*****************************************
                SearchArea
 ****************************************/
.def-title-box {
    margin-top: 10%; /*It was 12em but wasn't working so well on smaller screens. Lets see haow this works on a big screen.*/
    margin-bottom: 1em;
}

.def-title {
    font-size: 6em;
	color: #edf7f7; 
}

.def-search-box {
    margin-top: 1em;
    margin-bottom: 2em;
}

.def-search-field {
    width: 70%;
    margin: 0em auto;
    text-align: center;
    font-size: 1.8em;
}

.def-search-button {
    width: 35%;
    margin: 0em auto 5%;
}

/****************
  AutoComplete
 ****************/
.completionList {
    border:solid 1px Gray;
    margin:0px;
    padding:3px;
    overflow:auto;
    background-color: #FFFFFF;
    font-size:20px;
    border-radius:10px;
    text-align:center;
} 
.listItem {
    color: #191919;
} 
.itemHighlighted {
    background-color: #ADD6FF;       
}
.search-message-box{
    padding: 2%;

}

/*****************************************
                SearchArea
 ****************************************/

.SearchResult {
    color:black;
    font-size: 30px;
    cursor:pointer;
    
}
.SearchResult:hover {
    font-weight:bolder;
    color:black;
}

.border-bottom {
    border-bottom: 1px solid #4cb2b4;
    
}






/****************
   Responsivitet
 ****************/
@media (max-width: 1200px) {	
    .def-title	
 {
    font-size: 5.5em;  
  }
}

@media (max-width: 992px) {	
    .def-title	
 {
    font-size: 4em;  
  }
}

@media (max-width: 768px) {	
    .def-title	
 {
    font-size: 3em;  
  }
}

@media (max-width: 524px) {	
    .def-title	
 {
    font-size: 2em;  
  }
}

@media (max-width: 768px) {	
    .def-search-field,
    .def-search-button
 {
    width:90%;
  }
}