/****************************************************************** 
                                PADDING
*******************************************************************/

.padding {
    padding: 2%;
}

.paddingTop {
    padding-top: 2%;
}

.padding-right {
    padding-right: 2%;
}

.padding-left {
    padding-left: 2%;
}

.padding-bot {
    padding-bottom: 2%;
}

.paddingFix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/****************************************************************** 
                                MARGIN
*******************************************************************/

.margin {
    margin: 2%;
}

.marginTop {
    margin-top: 2%;
}

.marginLeft {
    margin-left: 2%;
}

.marginBot {
    margin-bottom: 2%;
}

.marginRight {
    margin-right: 2%;
}

.report-holder {
    margin: 1em;
    margin-bottom: 0em;
    padding-bottom: 1em;
    border-bottom: 1px solid #4cb2b4;
    overflow: auto;
}

.report-box {
    display: inline-block;
    width: 310px;
    float: left;
}

.big-report-box {
    width: 500px;
}

.small-report-box {
}

.dropdown-panel {
    width: 80%;
}

.panel-h2 {
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.panel-txt {
    margin: 1em 0;
}

.lbl-style {
    margin: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.btn-panel {
    width: 130px;
    margin: 0.2em;
    background: #074e67;
    font-weight: bold;
    font-size: 0.95em;
}

.top-text {
    margin: 1em;
}

@media (max-width: 556px) {
    .big-report-box,
    .report-box {
        width: 97%;
    }
}

@media (max-width: 768px) {
    .panel-navbar {
        margin: 0;
    }

    .Mainbtn {
        margin: 2% 0;
    }

    .HiddenBtn {
        margin: 5% 0;
    }
}

@media (max-width: 480px) {
    .panel-navbar {
        margin: 0;
    }
}
