.report-holder {
     margin: 1em;
     margin-bottom: 0em;
     padding-bottom: 1em;
    border-bottom: 1px solid #4cb2b4;    
    overflow: auto;
}

.report-box {
    display: inline-block; 
    width: 310px;
    float: left;
}

.big-report-box {
    width: 500px;
}

.panel-h2 {
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.panel-txt {
    margin: 1em;
}

.lbl-style {
    margin: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.btn-panel {
    width: 130px;
    margin: 0.2em;
    background: #074e67;
    font-weight: bold;
    font-size: 0.95em;
}

.top-text {
    margin: 1em;
}
@media (max-width: 556px) {
    .big-report-box,
    .report-box {
        width: 97%;
    }
}