.profilepic {
    width: 100%;
}
.white-box-profile {
    padding: 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
.thirdBox {
    padding: 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 


}

.thirdBox-floatright{

    float: right;
    text-align:right;
}
.GvDiv{
    float:right;
}
.underline {
    text-decoration: underline;
    margin: 0 0 2%;
}

/****************
    GridView
 ****************/
.gridview {

  float:right;
}
.gridview th{
    display:none;
}
.gridview td {
    padding: 0 2% 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   

    
}
.gridview tr:hover {
    background-color:cadetblue;
    cursor:pointer;
}
.OPEN-btn {
    display:none;
}


/*****************************************************
	MEDIA STYLE
*****************************************************/

@media (max-width: 992px) {	
.thirdBox
	 {
	width: 100%; 
    text-align:center;       
	}
.thirdBox-floatright{
    float:none;
}
.GvDiv{
    float:none;
    
}
.gridview{
    float:none;
    margin: 0 auto;
}
}
