/***********************************************************************************************
                                            GENERALL
************************************************************************************************/

/****************************************************************** 
                                PADDING
*******************************************************************/

.padding {
    padding: 2%;
}
.paddingTop {
    padding-top: 2%;
}
.padding-right {
    padding-right: 2%;
}
.padding-left {
    padding-left: 2%;
}
.padding-bot {
    padding-bottom: 2%;
}
.paddingFix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/****************************************************************** 
                                MARGIN
*******************************************************************/

.margin {
    margin: 2%;
}
.marginTop {
    margin-top: 2%;
}
.marginLeft {
    margin-left: 2%;
}
.marginBot {
    margin-bottom: 2%;
}
.marginRight {
    margin-right: 2%;
}
.marginAuto {
    margin: 0 auto;
}

/****************************************************************** 
                                BORDERS
*******************************************************************/

.border-bottom {
    border-bottom: 1px solid #4cb2b4;
}


/****************************************************************** 
                                FLOAT
*******************************************************************/

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
/***********************************************************************************************
                                            SPECIFIC
************************************************************************************************/
.history-box {
    display:none;
}
.roles-box {
    display: none;
}
.btndiv-floatright {
    float:right;
}
.ArticleLink {
    color:black;
    font-size: 20px;
    cursor:pointer;
    
}
.ArticleLink:hover {
    font-weight:bolder;
    color:black;
}
.minHeight {
    min-height: 183px
}
/***********************************************************************************************
                                            RESP
************************************************************************************************/

@media (max-width: 768px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
        .Profile {
        width: 50%;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    
}