.fullBox-register{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:1%;
}
.halfBox-register{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2%;
}

.txt-box-register {
    width: 95%;
    margin: 20px 0;
}

.itsr-button-register{
    width: 99%;
    margin: 10px 0;
}
