.tb {
    display: block;
    width: 100%;
    border-radius: 11px;
    border: 1px solid #989898;
    font-size: 1.4em;
    padding: 10px 10px 10px 10px;
    font-family: 'latolight', helvetica, arial, sans-serif;
}

    .tb:focus {
        border: 1px solid #edf7f7;
        border-radius: 12px;
        outline: 0;
    }